-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "Role" AS ENUM ('GROUND_CREW_LEAD', 'FLIGHT_DISPATCHER', 'OPERATIONS_DIRECTOR');

-- CreateEnum
CREATE TYPE "FlightStatus" AS ENUM ('SCHEDULED', 'BOARDING', 'READY', 'DEPARTED', 'CANCELLED', 'HOLD');

-- CreateEnum
CREATE TYPE "Severity" AS ENUM ('LOW', 'MEDIUM', 'HIGH', 'CRITICAL');

-- CreateEnum
CREATE TYPE "MessagePriority" AS ENUM ('LOW', 'MEDIUM', 'HIGH', 'CRITICAL');

-- CreateTable
CREATE TABLE "Users" (
    "id" TEXT NOT NULL,
    "role" "Role" NOT NULL,
    "email" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "password" TEXT,
    "phone" TEXT,

    CONSTRAINT "Users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Roles" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,

    CONSTRAINT "Roles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Flights" (
    "id" TEXT NOT NULL,
    "flightNumber" TEXT NOT NULL,
    "status" "FlightStatus" NOT NULL,
    "routeId" TEXT NOT NULL,

    CONSTRAINT "Flights_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DispatchPlans" (
    "id" TEXT NOT NULL,
    "flightId" TEXT NOT NULL,

    CONSTRAINT "DispatchPlans_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FlightChecklists" (
    "id" TEXT NOT NULL,
    "flightId" TEXT NOT NULL,
    "isComplete" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "FlightChecklists_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ChecklistItems" (
    "id" TEXT NOT NULL,
    "checklistId" TEXT NOT NULL,
    "task" TEXT NOT NULL,
    "isMandatory" BOOLEAN NOT NULL DEFAULT true,
    "isComplete" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "ChecklistItems_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "GroundEquipment" (
    "id" TEXT NOT NULL,
    "identifier" TEXT NOT NULL,
    "status" "Severity" NOT NULL,

    CONSTRAINT "GroundEquipment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EquipmentMaintenanceLogs" (
    "id" TEXT NOT NULL,
    "equipmentId" TEXT NOT NULL,
    "notes" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "EquipmentMaintenanceLogs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ShiftLogs" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "startTime" TIMESTAMP(3) NOT NULL,
    "endTime" TIMESTAMP(3),
    "fatigueIndex" DOUBLE PRECISION NOT NULL,

    CONSTRAINT "ShiftLogs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WeatherRecords" (
    "id" TEXT NOT NULL,
    "flightId" TEXT NOT NULL,
    "severityIndex" DOUBLE PRECISION NOT NULL,
    "rawData" JSONB NOT NULL,

    CONSTRAINT "WeatherRecords_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WeatherApiCache" (
    "id" TEXT NOT NULL,
    "airportCode" TEXT NOT NULL,
    "payload" JSONB NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WeatherApiCache_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Incidents" (
    "id" TEXT NOT NULL,
    "flightId" TEXT NOT NULL,
    "reporterId" TEXT NOT NULL,
    "severity" "Severity" NOT NULL,
    "resolved" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "Incidents_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AlertLogs" (
    "id" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "severity" "Severity" NOT NULL,
    "read" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AlertLogs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DispatchApprovals" (
    "id" TEXT NOT NULL,
    "planId" TEXT NOT NULL,
    "dispatcherId" TEXT NOT NULL,
    "approvedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "DispatchApprovals_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SafetyBriefings" (
    "id" TEXT NOT NULL,
    "flightId" TEXT NOT NULL,
    "draftContent" TEXT NOT NULL,
    "finalContent" TEXT,
    "isApproved" BOOLEAN NOT NULL DEFAULT false,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "SafetyBriefings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AuditLedger" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "resourceId" TEXT NOT NULL,
    "ipAddress" TEXT,
    "oldState" JSONB,
    "newState" JSONB,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AuditLedger_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DashboardPreferences" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "layoutConfig" JSONB NOT NULL,

    CONSTRAINT "DashboardPreferences_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BroadcastMessages" (
    "id" TEXT NOT NULL,
    "authorId" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "priority" "MessagePriority" NOT NULL DEFAULT 'LOW',
    "expiresAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "BroadcastMessages_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FlaggedZones" (
    "id" TEXT NOT NULL,
    "coordinates" TEXT NOT NULL,
    "reason" TEXT NOT NULL,

    CONSTRAINT "FlaggedZones_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SavedFilters" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "query" JSONB NOT NULL,

    CONSTRAINT "SavedFilters_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PdfExports" (
    "id" TEXT NOT NULL,
    "flightId" TEXT NOT NULL,
    "fileUrl" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PdfExports_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RiskCalculations" (
    "id" TEXT NOT NULL,
    "flightId" TEXT NOT NULL,
    "totalScore" DOUBLE PRECISION NOT NULL,
    "fatigueFactor" DOUBLE PRECISION NOT NULL,
    "weatherFactor" DOUBLE PRECISION NOT NULL,
    "mechFactor" DOUBLE PRECISION NOT NULL,
    "calculatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "RiskCalculations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RouteProfiles" (
    "id" TEXT NOT NULL,
    "originId" TEXT NOT NULL,
    "destinationId" TEXT NOT NULL,
    "baseRisk" DOUBLE PRECISION NOT NULL,

    CONSTRAINT "RouteProfiles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AirportProfiles" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "weatherStationId" TEXT NOT NULL,

    CONSTRAINT "AirportProfiles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ManualOverrides" (
    "id" TEXT NOT NULL,
    "flightId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "justification" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ManualOverrides_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SystemConfig" (
    "id" TEXT NOT NULL,
    "key" TEXT NOT NULL,
    "value" TEXT NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SystemConfig_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "_FlightsToUsers" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_FlightsToUsers_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateIndex
CREATE UNIQUE INDEX "Users_email_key" ON "Users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "Roles_name_key" ON "Roles"("name");

-- CreateIndex
CREATE UNIQUE INDEX "DispatchPlans_flightId_key" ON "DispatchPlans"("flightId");

-- CreateIndex
CREATE UNIQUE INDEX "WeatherApiCache_airportCode_key" ON "WeatherApiCache"("airportCode");

-- CreateIndex
CREATE UNIQUE INDEX "DispatchApprovals_planId_key" ON "DispatchApprovals"("planId");

-- CreateIndex
CREATE UNIQUE INDEX "DashboardPreferences_userId_key" ON "DashboardPreferences"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "RiskCalculations_flightId_key" ON "RiskCalculations"("flightId");

-- CreateIndex
CREATE UNIQUE INDEX "AirportProfiles_code_key" ON "AirportProfiles"("code");

-- CreateIndex
CREATE UNIQUE INDEX "SystemConfig_key_key" ON "SystemConfig"("key");

-- CreateIndex
CREATE INDEX "_FlightsToUsers_B_index" ON "_FlightsToUsers"("B");

-- AddForeignKey
ALTER TABLE "Flights" ADD CONSTRAINT "Flights_routeId_fkey" FOREIGN KEY ("routeId") REFERENCES "RouteProfiles"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DispatchPlans" ADD CONSTRAINT "DispatchPlans_flightId_fkey" FOREIGN KEY ("flightId") REFERENCES "Flights"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FlightChecklists" ADD CONSTRAINT "FlightChecklists_flightId_fkey" FOREIGN KEY ("flightId") REFERENCES "Flights"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ChecklistItems" ADD CONSTRAINT "ChecklistItems_checklistId_fkey" FOREIGN KEY ("checklistId") REFERENCES "FlightChecklists"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EquipmentMaintenanceLogs" ADD CONSTRAINT "EquipmentMaintenanceLogs_equipmentId_fkey" FOREIGN KEY ("equipmentId") REFERENCES "GroundEquipment"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ShiftLogs" ADD CONSTRAINT "ShiftLogs_userId_fkey" FOREIGN KEY ("userId") REFERENCES "Users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WeatherRecords" ADD CONSTRAINT "WeatherRecords_flightId_fkey" FOREIGN KEY ("flightId") REFERENCES "Flights"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Incidents" ADD CONSTRAINT "Incidents_flightId_fkey" FOREIGN KEY ("flightId") REFERENCES "Flights"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Incidents" ADD CONSTRAINT "Incidents_reporterId_fkey" FOREIGN KEY ("reporterId") REFERENCES "Users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DispatchApprovals" ADD CONSTRAINT "DispatchApprovals_planId_fkey" FOREIGN KEY ("planId") REFERENCES "DispatchPlans"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DispatchApprovals" ADD CONSTRAINT "DispatchApprovals_dispatcherId_fkey" FOREIGN KEY ("dispatcherId") REFERENCES "Users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SafetyBriefings" ADD CONSTRAINT "SafetyBriefings_flightId_fkey" FOREIGN KEY ("flightId") REFERENCES "Flights"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DashboardPreferences" ADD CONSTRAINT "DashboardPreferences_userId_fkey" FOREIGN KEY ("userId") REFERENCES "Users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RiskCalculations" ADD CONSTRAINT "RiskCalculations_flightId_fkey" FOREIGN KEY ("flightId") REFERENCES "Flights"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_FlightsToUsers" ADD CONSTRAINT "_FlightsToUsers_A_fkey" FOREIGN KEY ("A") REFERENCES "Flights"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_FlightsToUsers" ADD CONSTRAINT "_FlightsToUsers_B_fkey" FOREIGN KEY ("B") REFERENCES "Users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

